body{
    background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(img/backgroud.jpg);
    color: #333;
}

header{
    width: 100%;
    background-image: linear-gradient(to right, #dbb3ff, #b5a3ff);
    text-align: center;
    padding: 20px;
}

nav{
    background-color: #d8aee6;
    width: 190px;
    float: left;
    text-align: center;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
}

nav ul{
    list-style-type: none;
    padding: 0;
}

nav ul li a{
    text-decoration: none;
    color: #5a4c91;
    font-weight: bold;
    font-size: 22px;
    display: block;
    width: 100%;
    padding: 10px 0;
}

nav ul li a:hover {
    color: #8c7ae6
}

h1, h2, h3{
    color: #5a4c91;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 5%;
    margin-left: 17%;
}

h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-right: 5%;
    margin-left: 17%;
    color: #2c012c;
    font-size: larger;
}

img{
    width: 35%;
    display: block;
    margin: 0 auto;
}

footer{
    background-image: linear-gradient(to right, #dbb3ff, #b5a3ff);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

footer p{
    color: #5a4c91;
}

#Contato{
    margin-left: 17%;
    margin-right: 5%;
    padding: 20px;
    background-color: #f3e6ff;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(90, 76, 145, 0.3);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


#Contato h2{
    color: #5a4c91;
    text-align: center;
}

#Contato label{
    color: #2c012c;
    font-weight: bold;
}

#Contato input, 
#Contato textarea{
    width: 98%;
    padding: 10px;
    border: 2px solid #b5a3ff;
    border-radius: 5px;
    margin-bottom: 10px;
    font-family: Calibri, sans-serif;
}

#Contato button{
    background-color: #b5a3ff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

#Contato button:hover{
    background-color: #8c7ae6;
}

#feedback {
    margin-top: 10px;
    font-weight: bold;
    font-family: Calibri, sans-serif;
}